{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Джуманов Александр.</h1>
<div align="center">
    <p>
        Я недавно начал изучать бэкенд, но уже каждый вечер представляю,
        как буду работать в компании,
        в которую хочу попасть (банк Точка).<br>
        Я люблю свою работу, но хочу польностью перейти в IT, т.к. это интересней.<br>
        Ставлю себе цель - к своему дню рождения : 26 мая (2024 года), достичь тех знаний,
        что требуются в Точке и устроиться к ним!<br>
        Затем цель - попробовать пожить в других странах (недолго, буквально месяц),
        но при этом удалённо работать.<br>
        <p></p><br>
        <a href="https://t.me/aadzhumanov">Я в Телеграмм</a><br>
        <a href="https://github.com/AlexDjum">Ссылка на GitHub</a><br>
        <a href="https://spb.hh.ru/resume/312e298cff09c0ee120039ed1f73727a454a36?hhtmFrom=resume_list">
            Резюме на HH.ru
        </a>
    </p>
</div>
{% endblock %}