{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею:</h1>
  <aside class="col-12 col-md-3">
    <div align="center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          Flask
        </li>
      </ul>
    </div>
  </aside>
  <article class="col-12 col-md-9">
    <center>
      <p></p>
      <p>Дальше - больше.<br>
        "Бесконечность - не предел!"©Базз Лайтер</p>
    </center>
  </article>
</div>
{% endblock %}